.navBar{
    position: sticky;
    top: 0%;
    width: 100vw;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(46, 44, 44);
    color: aliceblue;
    margin-bottom: 15px;
}
.navBar a {
    color: aliceblue;
    text-decoration: none;
}
body{
    width: 100vw;
}